.idea
__pycache__

backend-flask/env/*

backend-flask/*.log
backend-flask/*.txt
backend-flask/.git
backend-flask/.gitignore
backend-flask/static/wc-img/*
backend-flask/static/chart-img/*
backend-flask/static/xlsx/*

backend-flask/applicantMap/*
backend-flask/templates/map.html

frontend-vue/.DS_Store
frontend-vue/node_modules
frontend-vue//dist


# local env files
frontend-vue/.env.local
frontend-vue/.env.*.local

# Log files
frontend-vue/npm-debug.log*
frontend-vue/yarn-debug.log*
frontend-vue/yarn-error.log*
frontend-vue/pnpm-debug.log*

# Editor directories and files
frontend-vue/.idea
frontend-vue/.vscode
frontend-vue/*.suo
frontend-vue/*.ntvs*
frontend-vue/*.njsproj
frontend-vue/*.sln
frontend-vue/*.sw?
