<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모죽 - 통합뉴스</title>
</head>
<body>
    <h1>언론사별 뉴스 모아보기</h1>
    <a href="/">검색 빈도 수 보기</a> //
    <a href="/search">키워드 기반 뉴스 통합검색</a>
    <hr>
    <a>언론사 별 뉴스 최신순 정렬 입니다.</a><br>

    <br><br>

    <div id="msg">
        데이터를 가져오는 중입니다...
    </div>
    <div id="main-area">
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='news.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        ajax_get_data();
    </script>
</body>
</html>