*{
  font-family: 'Work Sans', sans-serif;
}
html, body{
  height: 100%;
  color: #1a1b1c;
}

label, a{
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  border-bottom: 5px solid rgba(#8e44ad, 0.2);
  padding: 3px 2px;
  &:hover{
    border-bottom-color: #9b59b6;
  }
}

.layout{
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}


.menu-radio {
    display: none;
}

/*
input[type="radio"]{
  display: none;
}
*/

label.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #0049cf;
  background: #ecf0f1;
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
  input[type="radio"]:checked + .page + &{
    background: #0049cf;
    opacity : 0.8;
    color: #ffffff;

    span{

    }
    svg{
      opacity: 1;
    }
  }
  span{
    padding-left: 0px;
    position: relative;
  }
  svg{
    left: 0;
    top: -3px;
    position: absolute;
    width: 15px;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.page{
  position: absolute;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  padding: 0px 3%;
  width: 100%;
  margin: auto;
  overflow: visible;
  transition: max-height 0.3s ease;
  display: none;
  height: auto;
}

.page-contents > *{
  opacity: 0;
  overflow: visible;
  height: auto;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
  @for $c from 1 through 20{
    &:nth-child(#{$c}){
      transition-delay: 0.2s + ($c * 0.2s);
    }
  }
}

input[type="radio"] + .page{
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type="radio"]:checked + .page{
  overflow: auto;
  display: block;
  height: 100%;
  position: relative;
  overflow-y: auto;
  transform: translateX(0%);
  .page-contents > *{
    opacity: 1;
    transform: translateY(0px);
  }
}

.page-contents{
  max-width: 100%;
  min-height: 500px;
  width: 80%;
  margin: 0 auto;
}


/* 모바일 CSS */
@media (max-width: 768px) {
    .page-contents {
        width: 100%;
    }

    .mobile-font {
        font-size: 10px;
    }

    .search button {
	    display: none;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.search {
	position: relative;
	box-shadow: 0 0 40px rgba(51, 51, 51, .1);
	width: 85%;
	margin: auto;
}

@media (max-width: 768px) {
    .search {
        width: 100%;
    }
}

.search input {
	height: 60px;
	text-indent: 25px;
	border: 2px solid #d6d4d4;
}

.search input:focus {
	box-shadow: none;
	border: 2px solid blue;
}

.search .fa-search {
	position: absolute;
	top: 20px;
	left: 16px;
}

.search button {
	position: absolute;
	top: 5px;
	right: 5px;
	height: 50px;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    padding: 5% 5%;
}

@media (max-width: 768px) {
    .trend {
        padding-left:0;
    }
    .radio-container {
        width:100%;

    }
}
.check-items label {
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
}

.checkbox-area {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.checkbox-container label {
    margin-left: 5px;
}

.date-input {
    margin-bottom: 1%;
    max-width: 135px;
}
.date-container {
    margin-bottom: 0;
}
@media (max-width: 768px) {
    .gap-3 {
        gap: 0.2em !important;
    }
}

/* image */
image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.result-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}



.actions {
    margin-bottom: 10px;
}

.input-container {
    margin-top: 15px;
}

.news_table {
    display:none;
    width:100%;
    margin-left: 10%;
    margin-right: auto;
    border-color: darkgray;
    table-layout: fixed;
}
@media (max-width: 768px) {
    .news_table {
        margin-left: 2%;
        width:98%;
    }
}

.news_table th {
    text-align: center;
    vertical-align: middle;
}

.news_table td {
    text-align: left;
}

.news_table th:nth-child(1), .news_table td:nth-child(1) {
    width: 5%;
}

.news_table th:nth-child(2), .news_table td:nth-child(2) {
    width: 85%;
}

.news_table th:nth-child(3), .news_table td:nth-child(3) {
    width: 10%;
    text-align: center;
}


.news-title {
    white-space: nowrap;         /* 한 줄로 제한 */
    overflow: hidden;            /* 넘칠 경우 숨기기 */
    text-overflow: ellipsis;     /* 넘치는 부분에 '...' 표시 */
    max-width: 100%;             /* 부모 요소에 맞게 최대 너비 설정 */
}
@media (max-width: 768px) {
    .news-title {
        max-width: 270px;          /* 모바일 화면에서 뉴스 제목의 최대 너비를 설정 */
    }
}







.button-container {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.news-checkbox {
    display: none;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    padding: 5% 5%;
}

.news-checkbox .check-items {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    width:30%;
}

.news-checkbox .check-items label {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
}

.news-checkbox .check-items input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}

@media (max-width: 1100px) {
    .news-checkbox .check-items {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 10px;
        width:40%;
    }
}

@media (max-width: 768px) {
    .news-checkbox {
        width:100%;
    }
}

@media (max-width: 600px) {
    .news-checkbox .check-items {
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 10px;
        width:100%;
    }
}